@using MarvelHeroSearch.Models.Hero
@model CharacterDataWrapper
<!--Custom CSS-->
<style>
    .card-header {
        font-size: 20px;
        background-color: #F5DEB3
    }

    .name {
        margin-left: 10px;
    }

    .card-container {
        height: auto;
        width: 650px;
        background-color: #FDF5E6;
        border-radius: 11px;
    }

    form {
        background-color: #FDF5E6;
    }

    character-img {
        height: 550px;
        width: 550px;
    }

    .description {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .credits {
        padding-left: 10px;
    }
</style>

<!--Form for Character Controller - Method CharacterSearch - Name => searchString-->
<form asp-controller="Character" asp-action="CharacterSearch" class="border border-dark border-3 m-3 p-3 shadow-lg">
    <div>
        <label for="characterNameInput" class="form-label mt-4">Super Hero Name</label>
        <input class="form-control" name="searchString" placeholder="Enter Name Here" required />
        <button class="btn btn-warning mt-3" id="submit" name="submit" type="submit" style="font-weight:bold;" value="Search">Search</button>
    </div>
</form>

<!--Character Result Container-->
<div class=" d-flex flex-wrap justify-content-around align-content-around">
    <div class="d-flex align-content-center">
        <div class="card-container border border-dark border-3 m-3 shadow-lg">
            <div class="card-header p-1">Character Id: @Model.data.results[0].id</div>
            <div class="card-body">
                <div class="d-flex align-items-center mt-2">
                    <h1 class="name card-title text-danger">Name: <span class="text-dark">@char.ToUpper(Model.data.results[0].name[0])@Model.data.results[0].name.Substring(1)</span></h1>
                </div>
                <hr class="mt-1" />
                <div class="d-flex align-items-center justify-content-around">
                    <img src="@Model.data.results[0].GetImageLarge()" class="character-img border border-3 border-dark rounded shadow m-1" alt="..." />
                </div>
                <hr />
                <div class="description d-flex align-items-center justify-content-between">
                    <!--Description-->
                    <h5 class="text-danger">
                        Description: <span class="text-dark">@Model.data.results[0].description</span>
                    </h5>
                </div>
                <!--Buttons For Character Result-->
                <div class="d-flex justify-content-around align-items">
                    <div class="button-bnt"><a type="button" class="btn btn-lg btn-info m-2 shadow" href="@Model.data.results[0].urls[0].url" target="blank">More Information</a></div>
                    <form asp-controller="Character" asp-action="GetComicsByHeroId">
                        <div>
                            <button class="btn btn-lg btn-warning m-2 shadow" id="submit" name="searchString" type="submit" style="font-weight:bold;" value="@Model.data.results[0].id">View Comics</button>
                        </div>
                    </form>
                    <form asp-controller="Character" asp-action="AddToFavorites">
                        <div>
                            <button class="btn btn-lg btn-success m-2 shadow" id="submit" name="searchString" type="submit" style="font-weight:bold;" value="@Model.data.results[0].id">Add to Favorites</button>
                        </div>
                    </form>
                </div>
                <div class="mt-1 credits"><p>"Data provided by Marvel. © 2014 Marvel"</p></div>
            </div>
        </div>
    </div>
</div>



