@using MarvelHeroSearch.Models.Hero
@model List<Character>
<!--Custom CSS-->
<style>

    .card {
        height: 505px;
        width: 500px;
        background-color: #FDF5E6
    }

    .card-header {
        font-size: 20px;
        background-color: #F5DEB3
    }

    .button-container {
        margin-left: 40px;
    }

    .button-btn {
        margin-bottom: 15px;
    }

    .header {
        text-align: center;
    }

    .favorites-container {
        background-color: #FDF5E6;
    }
</style>

<!--Favorites Header-->
<div class="favorites-container border border-dark border-3 m-1 p-1 shadow-lg text-center">
    <h1 class="h1-header display-1 mt-4 text-warning">My Favorites</h1>
</div>

<!--List of Favorites Stored in MySQL Database-->
<div class="d-flex flex-wrap justify-content-around align-content-around ">

    @foreach (var character in Model)
    {
        <div class="card border-dark m-3 shadow-lg">
            <div class="card-header">Number: @character.id</div>
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="card-title text-danger">Name: <span class="text-dark">@char.ToUpper(character.name[0])@character.name.Substring(1)</span></h3>
                </div>
                <hr />
                <div class="d-flex align-items-center">
                    <img src="@character.GetImage()" class="border border-3 border-dark rounded shadow-lg" alt="..." />
                    <div class="button-container d-flex flex-column justify-content-center align-items-center">
                        <form asp-controller="Character" asp-action="CharacterSearchById">
                            <div>
                                <button class="btn btn-lg btn-info m-2 shadow" id="submit" name="searchString" type="submit" style="font-weight:bold;" value="@character.id">More Information</button>
                            </div>
                        </form>
                        <form asp-controller="Character" asp-action="GetComicsByHeroId">
                            <div>
                                <button class="btn btn-lg btn-warning m-2 shadow" id="submit" name="searchString" type="submit" style="font-weight:bold;" value="@character.id">View Comics</button>
                            </div>
                        </form>
                        <div>
                            <!-- Fires the DeleteHero Controller Method after Confirmation-->
                            @using (Html.BeginForm("DeleteHero", "Character", "Post"))
                            {
                                <input type="hidden" asp-for="@character.id" value="@character.id" />
                                <input type="submit" class="btn btn-lg btn-danger m-2 shadow" onclick="return confirm('Are you sure you want to delete this Hero?')" value="Delete Hero" />
                            }
                        </div>
                    </div>
                </div>
                <div class="mt-1 credits"><p>"Data provided by Marvel. © 2014 Marvel"</p></div>
            </div>
        </div>
    }
</div>

